$color_wood: #6f4328;
$color_anthracite: #282923;

body {
	background-color: $color_anthracite;
	margin : 0;
	width: 100%;
}

#flag_div {
	border: 1px solid red;

	#flag_div_name {
		color: red;
		weight: bold;
	}
}