<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<title>MiniStone</title>
	</head>
	<body (click)="console.log('test')">
		<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!</h2></noscript>

	

		<div id="main_opponent">
			<ul>
				<li *ngFor="let card of opponent.hand | keyvalue">
					<img src="../../assets/images/cardback.png" alt="Une carte" />
				</li>
			</ul>
		</div>

		<div id="main_joueur">
			<ul>
				<li *ngFor="let card of joueur.hand | keyvalue" id="card" [class.nonTargetable]="!card.isTargetable()" (click)="selectCardHand(card)">
					<div>
						<img src="../../assets/images/cards/{{ card.name }}.png" alt="{{ card.name }}" />
						<span id="cardManaCost">{{ card.value.manaCost }}</span>
						<span id="cardDamage">{{ card.value.damage }}</span>
						<span id="cardHealth">{{ card.value.health }}</span>
					</div>
				</li>
			</ul>
		</div>

		<div id="board_joueur">
			<ul>
				<li *ngFor="let card of joueur.board | keyvalue" id="card" id="card" [class.nonTargetable]="!card.isTargetable()" (click)="selectCardPlayerBoard(card)">
					<div>
						<img src="../../assets/images/cards/{{ card.name }}.png" alt="{{ card.name }}" />
						<span id="cardManaCost">{{ card.value.manaCost }}</span>
						<span id="cardDamage">{{ card.value.damage }}</span>
						<span id="cardHealth">{{ card.value.health }}</span>
					</div>
				</li>
			</ul>
		</div>

		<div id="board_opponent">
			<ul>
				<li *ngFor="let card of opponent.board | keyvalue" id="card" [class.nonTargetable]="!card.isTargetable()" (click)="selectCardOpponentBoard(card)">
					<div>
						<img src="../../assets/images/cards/{{ card.name }}.png" alt="{{ card.name }}" />
						<span id="cardManaCost">{{ card.value.manaCost }}</span>
						<span id="cardDamage">{{ card.value.damage }}</span>
						<span id="cardHealth">{{ card.value.health }}</span>
					</div>
				</li>
			</ul>
		</div>

		<button id="endTurn_button" (click)="endTurn()" disabled="{{ joueur != playing }}">
			<div *ngIf="joueur == playing">END TURN</div>
			<div *ngIf="joueur != playing">OPPONENT TURN</div>
		</button>



		<div id="joueur" (click)="selectHero()">
			<img src="{{ joueur.hero.portrait }}" alt="Portrait de {{ joueur.hero.name }}" />
				<span id="name">{{ joueur.name }}</span>
				<span id="health" [style.color]="(joueur.hero.health == joueur.hero.healthMax) ? 'green': 'red'">{{ joueur.hero.health }}</span>
				<button id="special" (click)="special()">Special</button>
		</div>

		<div id="opponent" (click)="selectOpponent()">
			<img src="{{ opponent.hero.portrait }}" alt="Portrait de {{ opponent.hero.name }}" />
				<p id="name">{{ opponent.name }}</p>
				<span [style.color]="(opponent.hero.health == opponent.hero.healthMax) ? 'green': 'red'">{{ opponent.hero.health }}</span>
		</div>




		<button id="secret_mode" [class.inlined]="secretMode == true" (click)="enter_secretMode()">Enter secret mode</button>
	</body>
</html>