<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<title>MiniStone</title>
	</head>
	<body>
		<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!</h2></noscript>

	

		<div id="main_opponent">
			<ul>
				<li *ngFor="let card of opponent.hand | keyvalue">
					<img src="../../assets/images/cardback.png" alt="Une carte" />
				</li>
			</ul>
		</div>

		<div id="main_joueur">
			<ul>
				<li *ngFor="let card of joueur.hand | keyvalue" id="card">
					<div>
						<span id="cardName">{{ card.value.name }}</span>
						<span id="cardManaCost">{{ card.value.manaCost }}</span>
						<span id="cardDamage">{{ card.value.damage }}</span>
						<span id="cardHealth">{{ card.value.health }}</span>
					</div>
				</li>
			</ul>
		</div>

		<div id="board_joueur">
			<ul>
				<li *ngFor="let card of joueur.board | keyvalue" id="card">
					<div>
						<span id="cardName">{{ card.value.name }}</span>
						<span id="cardManaCost">{{ card.value.manaCost }}</span>
						<span id="cardDamage">{{ card.value.damage }}</span>
						<span id="cardHealth">{{ card.value.health }}</span>
					</div>
				</li>
			</ul>
		</div>

		<div id="board_opponent">
			<ul>
				<li *ngFor="let card of opponent.board | keyvalue" id="card">
					<div>
						<span id="cardName">{{ card.value.name }}</span>
						<span id="cardManaCost">{{ card.value.manaCost }}</span>
						<span id="cardDamage">{{ card.value.damage }}</span>
						<span id="cardHealth">{{ card.value.health }}</span>
					</div>
				</li>
			</ul>
		</div>

		<div id="endTurn_button" (click)="endTurn()">
			END TURN
		</div>



		<div id="joueur">
			<img src="{{ joueur.hero.portrait }}" alt="Portrait de {{ joueur.hero.name }}" />
				<br />
				<p id="name">{{ joueur.name }}</p>
				<p id="health" [style.color]="(joueur.hero.health == joueur.hero.healthMax) ? 'green': 'red'">Vie : {{ joueur.hero.health }}</p>
		</div>

		<div id="opponent">
			<img src="{{ opponent.hero.portrait }}" alt="Portrait de {{ opponent.hero.name }}" />
				<br />
				<p id="name">{{ opponent.name }}</p>
				<p id="health" [style.color]="(opponent.hero.health == opponent.hero.healthMax) ? 'green': 'red'">Vie : {{ opponent.hero.health }}</p>
		</div>




		<div id="secret_mode" [class.inlined]="secretMode == true" (click)="enter_secretMode()">Enter secret mode</div>
	</body>
</html>