
body {
    text-align: center;

    h1 {
        img {
            height: 50px;
        }
    }
    .inlined {
        border: 3px solid black;
    }

    #your-name {
        span {
            font-weight: bold;
        }
    }

    #chooseLevel {
        margin: 10px;
    }
    
    #connectedPlayers ul {
        list-style-type: none;
    }

    #heroTypeChoosing {
        display: inline-block;
        margin: 10px;
        img {
            height: 50px;
        }
        span {
            font-weight: bold;
        }
    }

    .nonOpaque {
        opacity: 1;
    }
    .opaque {
        opacity: 0.5;
    }

    #player_line {
        height: 25px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5px;
        background-color: rgba(200,200,200,1);
        text-align: left;
        
        span {
            font-weight: bold;
            vertical-align: middle;
            padding: 3px;
        }
        button {
            float: right;
            height: 25px;
            vertical-align: middle;
            font-weight: bold;
            border-top: 1px solid rgba(200,200,200,1);
            border-radius: 1px;
        }
        #accept_match {
            background-color: #8ec743;
            border-left: 0px solid black; // In order for not having two collisionnal borders
        }
        #decline_match {
            background-color: #ee3226;
        }

    }
}