<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<title>MiniStone</title>
	</head>
	<body>
		<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!</h2></noscript>

		<h1>Ministone</h1>

		<div id="main-content" class="container">
			<div id="connected-content" class="row">
				<div>
					<form id="ask-for-name" class="form-inline">
						<div class="form-group">
							<label for="name">What is your name : </label>&nbsp;
							<input type="text" id="name" class="form-control" placeholder="Your name here...">
								<br /><br />

							<span>What is your level ? </span><br />
							<button id="chooseLevel" [class.inlined]="level=='novice'" (click)="setLevelNovice()">Novice</button>
							<button id="chooseLevel" [class.inlined]="level=='regular'" (click)="setLevelRegular()">Regular</button>
							<button id="chooseLevel" [class.inlined]="level=='expert'" (click)="setLevelExpert()">Expert</button>
								<br /><br />

							<span>Your hero : </span><br />
								<div id="heroTypeChoosing" (click)="setHeroTypePaladin()">
									<img [class.nonOpaque]="heroType=='paladin'" [class.opaque]="heroType!='paladin'" src="../../assets/images/paladin_icon.png" />
										<br />
									<span>Paladin</span>
								</div>
								<div id="heroTypeChoosing" (click)="setHeroTypeMage()">
									<img [class.nonOpaque]="heroType=='mage'" [class.opaque]="heroType!='mage'" src="../../assets/images/mage_icon.png" />
										<br />
									<span>Mage</span>
								</div>
								<div id="heroTypeChoosing" (click)="setHeroTypeWarrior()">
									<img [class.nonOpaque]="heroType=='warrior'" [class.opaque]="heroType!='warrior'" src="../../assets/images/warrior_icon.png" />
										<br />
									<span>Warrior</span>
								</div>
								<br /><br />

							<button id="send-name" class="btn btn-default" type="submit" (click)="sendName()">Send</button>
						</div>
						
					</form>
					<br />
					<div id="your-name" *ngIf="name">
						Your name is <span>{{ name }}</span> and you are a <span>{{ level }}</span>&nbsp;<span>{{ heroType }}</span>
					</div>
						<br />
					
					<form class="form-inline">
						<button id="search-game" class="btn btn-default" type="submit">Search for a game !</button>
					</form>
					
					
				</div>


				<div id="connectedPlayers">
					<ul>
						<li *ngFor="let players of connectedPlayers">
							<div id="player_line">
								<span>({{ players[1] }} {{ players[2 ]}})</span>
								<span>{{ players[0] }}</span>
								<button *ngIf="players[3]" id="accept_match" (click)="acceptMatch()">Accept</button>
								<button *ngIf="players[3]" id="decline_match" (click)="declineMatch()">Decline</button>
							</div>
						</li>
					</ul>
				</div>
				<!--<div class="col-md-12">
					<table id="conversation" class="table table-striped">
						<thead>
							<tr>
								<th>Players connected</th>
							</tr>
						</thead>
						<tbody id="players"></tbody>
					</table>
				</div>-->
			</div>
		</div>
	</body>
</html>