
#connected-content {
    text-align: center;

    #connectedPlayers ul {
        list-style-type: none;
    }

    #player_line {
        height: 25px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5px;
        background-color: rgba(200,200,200,1);
        text-align: left;
        
        span {
            font-weight: bold;
            vertical-align: middle;
            padding: 3px;
        }
        button {
            float: right;
            height: 25px;
            vertical-align: middle;
            font-weight: bold;
            border: 1px solid black;
            border-radius: 1px;
        }
        #accept_match {
            background-color: green;
            border-left: 0px solid black; // In order for not having two collisionnal borders
        }
        #decline_match {
            background-color: red;
        }

    }
}