<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<title>MiniStone</title>
	</head>
	<body>
		<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!</h2></noscript>

	

		<div id="main_opponent">
			<ul>
				<li *ngFor="let card of opponent.hand | keyvalue">
					<img src="../../assets/images/cardback.png" alt="Une carte" />
				</li>
			</ul>
		</div>

		
		<div id="main_joueur">
			<ul>
				<li *ngFor="let card of joueur.hand | keyvalue" id="card" (click)="selectCardHand(card.value)" [class.cardSelected]="card.value == selectedHand">
					<img [src]="getImgUrl(card.value)" alt="{{ card.value.name }}" />
					<span id="cardManaCost">{{ card.value.manaCost }}</span>
					<span id="cardDamage">{{ card.value.damage }}</span>
					<span id="cardHealth">{{ card.value.health }}</span>
				</li>
			</ul>
		</div>


		<div id="board_joueur">
			<ul>
				<li *ngFor="let card of joueur.board | keyvalue" id="card" (click)="selectCardPlayerBoard(card.value)" [class.cardSelected]="card.value == selectedAttacking">
					<img [src]="getImgUrl(card.value)" alt="{{ card.value.name }}" />
					<span id="cardManaCost">{{ card.value.manaCost }}</span>
					<span id="cardDamage">{{ card.value.damage }}</span>
					<span id="cardHealth">{{ card.value.health }}</span>
				</li>
			</ul>
		</div>

		<div id="board_opponent">
			<ul>
				<li *ngFor="let card of opponent.board | keyvalue" id="card" (click)="selectCardOpponentBoard(card.value)">
					<img [src]="getImgUrl(card.value)" alt="{{ card.value.name }}" />
					<span id="cardManaCost">{{ card.value.manaCost }}</span>
					<span id="cardDamage">{{ card.value.damage }}</span>
					<span id="cardHealth">{{ card.value.health }}</span>
				</li>
			</ul>
		</div>


		<button id="endTurn_button" (click)="endTurn()" [disabled]="opponent == playing">
			<div *ngIf="joueur == playing">END TURN</div>
			<div *ngIf="opponent == playing">OPPONENT TURN</div>
		</button>



		<div id="joueur">
			<img src="{{ joueur.hero.portrait }}" alt="Portrait de {{ joueur.hero.name }}" />
				<p id="name">{{ joueur.name }}</p>
				<span id="health">{{ joueur.hero.health }}</span>
		</div>
		<button id="special" [class.cardSelected]="selectedHeroPower" [disabled]="this.joueur != this.playing" (click)="special()">Special</button>

		<div id="opponent" (click)="selectOpponent()">
			<img src="{{ opponent.hero.portrait }}" alt="Portrait de {{ opponent.hero.name }}" />
				<p id="name">{{ opponent.name }}</p>
				<span id="health">{{ opponent.hero.health }}</span>
		</div>


		<div id="mana">
			<span>{{ joueur.mana}} / {{ joueur.manaMax }}</span>
			<img src="../../assets/images/mana.png" alt="mana" />
		</div>



		<button id="secret_mode" [class.inlined]="secretMode == true" (click)="enter_secretMode()">Enter secret mode</button>



	</body>
</html>